<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Curriculum Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Admin Module</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/}">Dashboard</a>
				</li>
				<!--<li>
					<a class="nav-link" th:href="@{/courses}">Courses</a>
				</li>-->
			</ul>
		</div>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<h1> List of Courses</h1>
		</div>

		<div class="col-lg-3">
			<a th:href="@{/courses/new}" class="btn btn-primary btn-sm mb-3"> Add Course</a>
		</div>
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th> Course Name </th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c: ${courses}">
					<td th:text="${c.courseName}"></td>
					<td>
						<a th:href="@{/courses/edit/{id}(id=${c.id})}" class="btn btn-primary">Update</a>
						<a th:href="@{/courses/{id}(id=${c.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>