<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Curriculum Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Assignment Module</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/assignmentDashboard/{courseId}}">Dashboard</a>
				</li>
			</ul>
		</div>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center"> Create Assignment </h1>
				<div class="card-body">
					<form th:action="@{/saveAssignment/{courseId}(courseId = ${courseID})}" th:object="${assignment}" method="POST">
						<div class="form-group">
							<label for="assignmentName" class="control-label">Assignment Name </label>
							<input type="text" th:field="*{assignmentName}" class="form-control"
								placeholder="Enter Assignment Name" />
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('assignmentDescription')}? 'has-error':''">
							<label for="assignmentDescription" class="control-label">Assignment Description </label>
							<input type="text" name="assignmentDescription" th:field="*{assignmentDescription}"
								class="form-control" placeholder="Enter Assignment Description" />
							<p class="error-message" th:each="error: ${#fields.errors('assignmentDescription')}"
								th:text="${error}">
								Validation error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('dueDate')}? 'has-error':''">
							<label for="dueDate" class="control-label">Assignment Due Date (mm/dd/yyyy)</label>
							<input type="text" name="dueDate" th:field="*{dueDate}" class="form-control"
								placeholder="Enter Assignment Due Date" />
							<p class="error-message" th:each="error: ${#fields.errors('dueDate')}"
								th:text="${error}">
								Validation error</p>
						</div>

				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">
						Submit
					</button>
				</div>
				<!--<a th:href="@{/assignmentDashboard}"> Back to Assignments List</a>-->
				</form>
			</div>
		</div>
	</div>
	</div>
</body>

</html>