<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
	<meta charset="ISO-8859-1">
	<title>Curriculum Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Professor Module</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<form th:action="@{/listProfessorCourses}">
					<div class="form-group">
						<button type="submit" class="btn btn-success">Register Courses</button>
					</div>
				</form>
			</div>
		</div>
		<br />
		<br />
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th> Course Name </th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c: ${studentCourses}">
					<td th:text="${c.courseName}"></td>
					<td>
						<!--<a th:href="@{/courses/edit/{id}(id=${c.id})}" class="btn btn-primary">View</a>
						
						view assignments page
						drop courses based on student id and course id
						delete the combined record
						-->
						<a th:href="@{/studentCourses/view/assignments{id}(id=${c.id})}"
							class="btn btn-primary">View</a>
						<a th:href="@{/studentCourses/{id}(id=${c.id})}" class="btn btn-danger">Drop Course</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>