<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Registration</title>
</head>-->

<head>
    <meta charset="ISO-8859-1">
    <title>Curriculum Administration System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Curriculum Administration System</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Professor's Grade Page</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <form th:action="@{/registration}">
                    <div class="form-group">
                        <style>
                            .row>div {
                                background: lightgrey;
                                border: 1px solid grey;
                            }

                            .row>div:last-child {
                                margin-left: -1px;
                                width: calc(25% + 1px);
                            }

                            .row>select {
                                height: 45px;
                            }

                            .align {
                                position: relative;
                                left: 250px;
                            }
                            .btn {
                                position: relative;
                                right: 5px;
                            }

                            select {
                                margin-left: -25px;
                                width: 250px;
                            }
                        </style>

                        <div class="container-fluid">
                            <h1>List of Students</h1>

                            <div id="1st" class="row align">
                                <div class="col-sm-3 col-md-6 col-lg-3" style="background-color:rgb(227, 226, 240);">
                                    <b>Name</b>
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-3" style="background-color:rgb(227, 226, 240);"
                                    class="border border-primary">
                                    <b> Grade </b>
                                </div>
                            </div>

                            <div class="row align">
                                <div class="col-sm-3 col-md-6 col-lg-3" style="background-color:rgb(227, 226, 240);">
                                    <select class="form-select" size="0" aria-label="Students List" w-100>
                                        <option selected>-- Select --</option>
                                        <option value="1">John</option>
                                        <option value="2">David</option>
                                        <option value="3">Bhavya</option>
                                        <option value="4">Mary</option>
                                        <option value="5">James</option>
                                        <option value="6">Jerry</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-3" style="background-color:rgb(227, 226, 240);"
                                    class="border border-primary">
                                    <select class="form-select" size="0" aria-label="Students List" w-100>
                                        <option selected>-- Select --</option>
                                        <option value="1">A</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>

                                    </select>
                                </div>
                            </div>
                            <div class="row align">
                                <div class="col-sm-3 col-md-6 col-lg-3" style="background-color:rgb(227, 226, 240);">
                                    <select class="form-select" size="0" aria-label="Students List" w-100>
                                        <option selected>-- Select --</option>
                                        <option value="1">John</option>
                                        <option value="2">David</option>
                                        <option value="3">Bhavya</option>
                                        <option value="4">Mary</option>
                                        <option value="5">James</option>
                                        <option value="6">Jerry</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-3" style="background-color:rgb(227, 226, 240);"
                                    class="border border-primary">
                                    <select class="form-select" size="0" aria-label="Students List" w-100>
                                        <option selected>-- Select --</option>
                                        <option value="1">A</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">John</a></li>
                            <li><a class="dropdown-item" href="#">David</a></li>
                            <li><a class="dropdown-item" href="#">Bhavya</a></li>
                        </ul>



                        <a href="/" th:href="@{/professorDashboard}"></a></span>
                       
                    </div>
                    <br/> <br/>
                    <button type="submit" form="form1" value="Submit" class="btn">Submit</button>
                    <br/> <br/>
                </form>

            </div>
        </div>
     
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>