<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Registration</title>
</head>-->

<head>
	<meta charset="ISO-8859-1">
	<title>Curriculum Administration System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.success {
			background-color: #ddffdd;
			border-left: 6px solid #04AA6D;
		}

		.textarea {
			resize: none;
		}
	</style>

</head>

<body>
	<script>
		function s1() {
			document.getElementById("w3review").value = "Computer science is an empirical discipline. We would have called it an experimental science, but like astronomy, economics, and geology, some of its unique forms of observation and experience do not fit a narrow stereotype of the experimental method. Nonetheless, they are experiments. Each new machine that is built is an experiment. Actually constructing the machine poses a question to nature; and we listen for the answer by observing the machine in operation and analyzing it by all analytical and measurement means available.";
		}
		function s2() {
			document.getElementById("w3review").value = "Programming language theory is a branch of computer science that deals with the design, implementation, analysis, characterization, and classification of programming languages and their individual features. It falls within the discipline of computer science, both depending on and affecting mathematics, software engineering, and linguistics. It is an active research area, with numerous dedicated academic journals.";
		}
		function s3() {
			document.getElementById("w3review").value = "Artificial intelligence (AI) aims to or is required to synthesize goal-orientated processes such as problem-solving, decision-making, environmental adaptation, learning, and communication found in humans and animals. From its origins in cybernetics and in the Dartmouth Conference (1956), artificial intelligence research has been necessarily cross-disciplinary, drawing on areas of expertise such as applied mathematics, symbolic logic, semiotics, electrical engineering, philosophy of mind, neurophysiology, and social intelligence. AI is associated in the popular mind with robotic development, ";
		}
	</script>
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Curriculum Administration System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Student's Course Material Page</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<form th:action="@{/registration}">
					<div class="form-group" style="border-style: solid">

						<h1 style="text-decoration: underline blue;">View study material</h1>

						<div>
							<ul style="margin-block: 43px;margin-left: 10%;">
								<li style="margin-right: 87%"><a onclick="s1()" href="#s1">Midterm material</a></li>
								<li style="margin-right: 86%"><a onclick="s2()" href="#s2">Text book material</a></li>
								<li style="margin-right: 92%"><a onclick="s3()" href="#s3">Resources</a></li>
							</ul>

						</div>

						<div class="success">
							<label for="w3review" style="vertical-align: 99px;margin-right: 7%;"><b>Notes :</b></label>

							<textarea id="w3review" name="w3review" rows="8" cols="80" wrap="hard">
								Computer science is an empirical discipline. We would have called it an experimental science, but like astronomy, economics, and geology, some of its unique forms of observation and experience do not fit a narrow stereotype of the experimental method. Nonetheless, they are experiments. Each new machine that is built is an experiment. Actually constructing the machine poses a question to nature; and we listen for the answer by observing the machine in operation and analyzing it by all analytical and measurement means available.
                           </textarea>

							<a href="/" th:href="@{/professorDashboard}"></a></span>
						</div>
				</form>
				<form th:action="@{/courses}">
					<div class="form-group">
						<a href="/" th:href="@{/addNewCourse}"></a></span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>